*.pyc
*.pyo
/bin/
/data/
/develop-eggs/
/dist/
/etc/
/scripts/
/var/
/__pycache__/
/.mypy_cache/
.installed.cfg
*.egg-info
*.project
*.swp
*.pydevproject
*.sublime-project
*.sublime-workspace
*.ropeproject
*#*#
*.#*
